@import url(/block/content/section-subtitle/section-subtitle.css);
@import url(/block/content/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(/block/content/section-title/section-title.css);
@import url(/block/content/section-title/_theme/section-title_theme_dark.css);
@import url(/block/content/kaufman/__triangle/kaufman__triangle.css);
@import url(/block/content/table/table.css);
@import url(/block/content/table/_theme/table_theme_dark.css);
@import url(/block/content/table/__cell/_theme/table__cell_theme_dark.css);
@import url(/block/content/table/__heading/_theme/table__heading_theme_dark.css);
@import url(/block/content/table/__text/_theme/table__text_theme_dark.css);

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}
