.header__main-illustration {
  margin: 0px;
  padding: 0px;
  background-image: url(../../../images/header-image.png);
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
