@keyframes rotation {
  from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

a {
  text-decoration: none;
}

.bold{
  font-family: 'bold';
}

.reular {
  font-family: 'reular';
}

.semibold {
  font-family: 'semibold';
}

.logo_place_footer {
  color: #fff;
  background-image: url(/images/logo_place_footer.svg);
}




.cards__item_indent {
  margin-right: 100px;
}




.footer__column {
  width: 90%;
  margin: auto;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}








.footer__column-heading {
  font-size:  18px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 0 20px 0;
}

.footer__column-links_list {
  margin-bottom: 10px;
  font-size:  18px;
  font-weight: normal;
  line-height: 18px;
}








